flask
flask-cors
gunicorn
python-dotenv>=1.0.1
langchain==0.3.0
langchain-community==0.3.0
langchain-core==0.3.0
langchain-google-genai==0.2.0
langchain-huggingface==0.1.0
langchain-chroma==0.1.4
sentence-transformers>=2.7.0
chromadb>=0.5.3
pypdf>=4.2.0
protobuf<5
langchain-classic==1.0.3
